.img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 0px;
    float: right;
}

.welcome {
    font-size: 2rem;
    margin-right: 40px;
    padding: 0px;
}